.navbar{
    background-color: #F1F3FF;
}
.btn-register{
    background-color: #5CB85F;
    padding: 8px 12px;
    border-radius: 2px;
}
.btn-standard{
    background-color: #5CB85F;
    padding: 8px 12px;
    border-radius: 2px;
}
.nav-link{
    font-weight: 400;
}
.hero{
    background-color: #F1F3FF;
}
@media (min-width: 1080px) {
    .text-banner{
        padding: 24px 10px 0 136px;
    }
    .navbar{
        background-color: #F1F3FF;
        padding: 24px 136px;
    }
    .nav-item{
        padding: 0 16px;
    }
    .services > .container-fluid > .row{
        margin: 100px 206px;
    }
    .service--img{
        padding-right: 35px;
    }
    .why-us--text{
        padding: 80px 136px;
    }
    .service--text{
        padding-left: 20px;
        width: 468px;
        font-size: 14px;
    }
    .testimonial--text{
        padding: 80px 136px;
    }
    .get-started--card{
        background-color: #0D28A6;
        border-radius: 13px;
        margin: 100px 136px
    }
    .faq--text{
        padding: 100px 136px
    }
    .get-started--text{
        padding: 64px 210px
    }
    .footer{
        padding: 80px 136px;
    }
    .carousel {
        margin: 30px auto 60px;
        padding: 0 80px;
    }
}
.accordion-item{
    border-radius: 4px;
    border-width: 1px;
    border-color: #D4D4D4;
}
@media (min-width: 320px) and (max-width: 768px) {
    .navbar{
        background-color: #F1F3FF;
        padding: 10px;
    }
    .service--img{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .services > .container-fluid > .row{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .why-us--card{
        border-color: #D0D0D0;
        border-width: 1px;
        border-radius: 8px;
        margin: 10px 0;
    }
    .service--text{
        margin: 10px 0;
        font-size: 14px;
    }
    .get-started--card{
        background-color: #0D28A6;
        border-radius: 13px;
        margin: 4px;
    }
    .get-started--text{
        padding: 10px;
    }
}
.brand{
    font-size: 24px;
}
.img-banner{
    padding: 24px 0 0 0;
}
.hero--text{
    padding: 80px 0;
}
.text--title{
    font-size: 36px;
    line-height: 54px;
}
.text--desc{
    line-height: 20px;
    width: 468px;
}
.service--title{
    font-size: 24px;
    font-weight: 700;
    width: 468px;
}

.feather-24{
    width: 24px;
    height: 24px;

}
.service--icon{
    background-color: #CFD4ED;
    padding: 4px;
}
.why-us--title{
    font-weight: 700;
    font-size: 24px;
}
.why-us--desc{
    font-size: 14px;
}
.testimonial--title{
    font-weight: 700;
    font-size: 24px;
}
.testimonial--desc{
    font-size: 14px;
}
.faq--title{
    font-weight: 700;
    font-size: 24px;
}
.faq--desc{
    font-size: 14px;
}
.get-started--title{
    font-weight: 700;
    color: white;
    font-size: 36px;
    margin: 8px;
}
.get-started--desc{
    font-size: 14px;
    font-weight: 300;
    color: white;
    margin: 8px;
    padding: 0 80px;
}
.why-us--card{
    border-color: #D0D0D0;
    border-width: 1px;
    border-radius: 8px;
}
.why-us--card__title{
    font-weight: 700;
    font-size: 16px;
}
.why-us--card__desc{
    font-size: 14px;
}
.carousel .carousel-item {
    text-align: center;
    overflow: hidden;
}
.carousel .carousel-item h4 {
    font-family: 'Varela Round', sans-serif;
}
.carousel .carousel-item img {
    max-width: 80px;
    display: inline-block;
}
.carousel .carousel-item .btn {
    border-radius: 0;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    background: #a177ff;
    padding: 6px 15px;
    margin-top: 5px;
}
.carousel .carousel-item .btn:hover {
    background: #8c5bff;
}
.carousel--card{
    padding: 69px 46px;
}
.carousel .carousel-item .btn i {
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}
.carousel .thumb-wrapper {
    margin: 5px;
    border-radius: 8px;
    text-align: left;
    background-color: #F1F3FF;
}
.carousel .carousel--content {
    padding: 15px;
    font-size: 13px;
}
.carousel-control-prev, .carousel-control-next {
    position: relative;
    margin: auto 0;
}
.carousel-control-prev i, .carousel-control-next i {
    font-size: 36px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -19px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    font-weight: bold;
}
.carousel-control-prev i {
    margin-left: -3px;
}
.carousel-control-next i {
    margin-right: -3px;
}